{% extends "::base.html.twig"%}
{% block body %}
    <h2>Lista de produtos</h2>
    <table class="table">
      <thead>
          <tr>
              <th>
                  ID
              </th>
              <th>
                  Nome
              </th>
              <th>
                  Descrição
              </th>
              <th>
                  Categoria
              </th>
              <th>
                Detalhes do Produto
              </th>
          </tr>
      </thead>
      <tbody>
          {% for produto in produtos %}
          <tr>
              <td>
                  {{ produto.id }}

              </td>
              <td>
                  {{ produto.name }}
              </td>
              <td>
                  {{ produto.description }}
              </td>
              <td>
                {{ produto.categoria.nome }}
              </td>
              <td>
                <ul>
                  <li>Peso: {{produto.detalhe.peso}}</li>
                  <li>Altura: {{produto.detalhe.altura}}</li>
                  <li>Largura: {{produto.detalhe.largura}}</li>
                </ul>
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}
