{% extends "::base.html.twig" %}

{% block body %}
  <div class="container-fluid panel panel-primary">
    <header class="panel-heading">
      <h1>Area destinada aos Produtos</h1>
    </header>
    <section class="panel-body">
      <nav class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li><a href="{{ path('produto_new') }}" class="btn btn-default">novo</a></li>
          </ul>
      </nav>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Detalhe</th>
            <th>Categorias</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for produto in produtos %}
          <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.name }}</td>
            <td>{{ produto.description }}</td>
            <td>
              <ul>
              </ul>
            </td>
            <td>
              <ul>
                {% for categoria in produto.categorias %}
                  <li> {{ categoria.nome }} </li>
                {% endfor %}
              </ul>
            </td>
            <td>
              <a href="{{ path('produto_edit', {'id' : produto.id} ) }}" class="btn btn-primary"> editar</a> |
              <a href="{{ path('produto_delete', {'id' : produto.id} ) }}" class="btn btn-danger"> remover</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </div>
{% endblock %}
